.background {
    background-color: #f9f3e4;
}

.form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.email-form {
    margin-left: 0.7rem;
}

.btn-group {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.form-btn {
    margin: 0.5rem;
}

.center {
    margin-left: 2rem;
}

.contact-error {
    color: red;
    font-size: 1.2rem;
}
#contact-form {
    height: 50vh;
    margin: auto;
    display: none;
}
